*,
*::before,
*::after {
  box-sizing: border-box;
}

/* font-family: 'Delicious Handrawn', cursive; */

html, body {
  background-color: black;
  color: aliceblue;
  margin: 10px;
}

.navigation {
  font-family:'Bruno Ace', cursive;
}

.navigation .nav_link {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  color: aliceblue;
  text-decoration-line: none;
  text-align: center;
}

div.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main.page_info {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.top_left {
  height: 200px;
  width: 50%;
  max-width: 100%;
  margin: 0;
  margin-left: 50px;
}

div.quote .top_left {
  display: grid;
  font-family: 'Delicious Handrawn', cursive;  
}

.top_left h2 {
  margin: 0;
  margin-top: 16px;
}

div.quote {
  display: flex;
  flex-direction: column;
}

.bottom_right {
  height: 200px;
  width: 50%;
  max-width: 100%;
  align-self: flex-end;
  margin: 0;
  margin-right: 20px;
}

div.quote .bottom_right {
  display: grid;
  font-family: 'Delicious Handrawn', cursive;
}

.bottom_right h2 {
  margin: 0;
}

div.about_me {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 50px;
}

.about_me img {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

.about_me p{
  height: 190px;
  width: 150px;
  border-radius: 5px;
  background-color: aliceblue;
  color: black;
  opacity: 0.5;
  padding: 3px;
  font-family: 'Delicious Handrawn', cursive;
}

.about_me .button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 150px;
  border: 2px solid aliceblue;
  border-radius: 5px;
  text-align: center;
  color: aliceblue;
  text-decoration-line: none;
  font-family:'Bruno Ace', cursive;
}

.container {
  display: grid;
  grid-template-rows: auto;
}

.pro {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 50px;
  color: aliceblue;
}

.pro .button {
  color: aliceblue;
  text-align: center;
  text-decoration-line: none;
  font-family:'Bruno Ace', cursive;
  width: 100%;
  padding: 50px 0px;
  border: 2px solid aliceblue;
  border-radius: 5px;
}

.pro p {
  margin: 16px 30px;
  font-family: 'Delicious Handrawn', cursive;
  font-size: large;
}

.pro:nth-child(even) {
  display: flex;
  flex-direction: row;
}

.pro:nth-child(odd) {
  display: flex;
  flex-direction: row-reverse;
}

.pro:nth-child(odd) p {
  margin-left: 30px;
}

footer.desktop {
  display: grid;
  visibility: visible;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-family:'Bruno Ace', cursive;
  border-top: 1px solid aliceblue;
}

footer.mobile {
  display: grid;
  visibility: hidden;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-family:'Bruno Ace', cursive;
  border-top: 1px solid aliceblue;
}

footer h4 {
  font-size: 11px;
}

div.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

.socials .s_link {
  color: aliceblue;
}

footer p {
  text-align: right;
  font-size: 13px;
}


@media screen and (max-width: 600px) 
  {
    main.page_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .top_left {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
      width: 80%;
      max-width: 100%;
      margin: 0px;
    }

    .bottom_right {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
      width: 80%;
      max-width: 100%;
      margin: 0px;
    }
    
    div.about_me {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 0px;
    }
    
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .projects_html {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    .pro {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: 50px 50px 0px 50px;
      margin: 0px;
    }

    .pro p {
      margin: 0;
      padding-top: 10px;
    }

    .pro:nth-child(even) {
      display: flex;
      flex-direction: column-reverse;
    }

    .pro:nth-child(odd) {
      display: flex;
      flex-direction: column-reverse;
    }

    .pro:nth-child(odd) p {
      margin: 0;
    }

    footer.desktop {
      display: grid;
      visibility: hidden;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      font-family:'Bruno Ace', cursive;
      border-top: 1px solid aliceblue;
    }
    
    footer.mobile {
      display: grid;
      visibility: visible;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      font-family:'Bruno Ace', cursive;
      border-top: 1px solid aliceblue;
    }
  }